@use "../../styles/partials/variables" as *;

.photo-upload {
  &__text {
    color: $secondary-color-dark;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__img-container {
    margin-bottom: 1rem;
  }

  &__img {
    width: 100%;
  }
}
