@use "../../styles/partials/variables" as *;

.intake-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  &__button {
    all: unset;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
  }

  &__button-icon {
    height: 1rem;
  }

  &__text {
    color: $primary-color-base;
    font-weight: 400;
    font-size: 1.0625rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.0625rem;
  }
}
