@use "../../styles/partials/variables" as *;

.login-page {
  padding: 3rem;
  &__logo {
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  &__form {
    margin-top: 2rem;
  }

  &__form-label {
    padding-left: 0.2rem;
    color: $primary-color-dark;
  }

  // &__icon {
  //   display: block;
  // }

  &__input-wrapper {
    display: flex;
  }

  &__form-input {
    display: block;
    margin-bottom: 0.5rem;
    background-color: $primary-color-light;
    width: 100%;
    min-width: 16rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid $primary-color-base;
    padding: 0.75rem;
    font-family: "DM Sans";
    color: black;
    resize: none;

    &:focus {
      outline: none !important;
      border: 2px solid $primary-color-base;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    all: unset;
    width: 5rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background-color: $primary-color-medium;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-base;
      color: #fff;
    }
  }
}
