@use "../../styles/partials/variables" as *;

.header {
  padding: 0 0 1rem;
  display: flex;
  justify-content: space-between;

  &__date {
    font-size: 0.875rem;
    font-style: italic;
  }

  &__greeting {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.section {
  &__image-wrapper {
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
  }

  &__image {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }

  &__pet-name {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.75rem;
    background: rgba(235, 244, 245, 0.7);
    border-radius: 0px 8px 8px 0px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__categories {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__icon {
    background-color: $primary-color-light;
    padding: 1.3rem;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  &__icon-description {
    color: $primary-color-dark;
    margin-bottom: 2rem;
  }
}

.tasks {
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #344b51;
  }

  &__link {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
  }

  &__link-icon {
    width: 0.73rem;
  }

  &__big-container {
    display: flex;
    width: 100%;
    overflow-y: hidden;
  }
  &__image-container {
    display: flex;
    width: 125rem;
    gap: 2rem;
  }

  &__image-wrapper {
    position: relative;
    flex-shrink: 0;
  }

  &__image {
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 250px;
    height: 190px;
    object-fit: cover;
    object-position: 50%;
    cursor: pointer;

    &--right {
      border-radius: 8px;
    }
  }

  &__pet-name {
    position: absolute;
    bottom: 2rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 3rem;
    background: rgba(235, 244, 245, 0.7);
    border-radius: 0px 8px 8px 0px;
    font-size: 1rem;
    font-weight: 500;
  }

  &__notification {
    background-color: $primary-color-base;
    border-radius: 50%;
    border: 10px solid #fff;
    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
